.todo {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #C0C0C0;
}

.todoText{
max-width: 150px;
word-break: break-all;
}

.todo button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btnCheck{
  background: #58d68d;
  color: white;
}
.btnClose{
  background: #e74c3c;
  color: white;
}
.btnPencil{
  background: #FFB200;
  color: white;
}

