.todo {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #C0C0C0;
}
.todo.dark {
  background-color: #333;
}
.todo input{
  background-color: transparent;
  outline: none;
}
.todo.dark input{
  color: white;
}
.editText{
  font-size:medium;
}
.todoText{
max-width: 150px;
word-break: break-all;
margin: 0;
}

.todo button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btnCheck{
  background-color: #32a852;
  color: white;
  transition: background-color 0.3s;
}
.dark .btnCheck, .dark .btnClose, .dark .btnPencil{
  color: black;
}
.btnCheck:hover, .btnCheck:focus {
  background: green;
  transition: background-color 0.3s;
}
.btnClose{
  background-color: #e74c3c;
  color: white;
  transition: background-color 0.3s;
}
.btnClose:hover, .btnClose:focus{
  background-color: #d11208;
  transition: background-color 0.3s;
}
.btnPencil{
  background: #ffc100;
  color: white;
  transition: background-color 0.3s;
}
.btnPencil:hover, .btnPencil:focus{
background-color: 	#ff9a00;
  transition: background-color 0.3s;
}
