.todo {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);
  -webkit-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.75);
  scale: 1;
  transition: scale var(--time);  
}

.todo:hover, .todo:focus{
  scale: 1.02;
}

.todo.dark {
  background-color: var(--background-todo);
}

.todo input {
  background-color: transparent;
  outline: none;
}

.todo.dark input {
  color: var(--white);
}

.edit-text {
  font-size: medium;
}

.todo-text {
  max-width: 150px;
  word-break: break-all;
  margin: 0;
}

.todo button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-check,
.btn-close,
.btn-pencil,
.btn-delete,
.btn-cancel {
  color: var(--white);
}

.dark .btn-check,
.dark .btn-close,
.dark .btn-pencil,
.dark .btn-delete,
.dark .btn-cancel {
  color: var(--black);
}

.btn-check,
.btn-cancel {
  background-color: var(--btn-check);
  transition: background-color var(--time);
}

.btn-check:hover,
.btn-check:focus,
.btn-cancel:hover,
.btn-cancel:focus {
  background: var(--btn-check-hover);
  transition: background-color var(--time);
}

.btn-close,
.btn-delete {
  background-color: var(--btn-close);
  transition: background-color var(--time);
}

.btn-close:hover,
.btn-close:focus,
.btn-delete:hover,
.btn-delete:focus {
  background-color: var(--btn-close-hover);
  transition: background-color var(--time);
}

.btn-pencil {
  background: var(--btn-pencil);
  transition: background-color var(--time);
}

.btn-pencil:hover,
.btn-pencil:focus {
  background-color: var(--btn-pencil-hover);
  transition: background-color var(--time);
}
